* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #fff;
}

body > main {
    margin-top: 70px;
    position: relative;
}

hr {
    border: 2px solid #448fd0;
    border-radius: 2px;
}
